
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Boardandpickup</title>
</head>
<body>
    <div> 
        <h2>enter  your Boarding and pickup point</h2>
        <form action="~/Home/bookinginfo" method="post">
            <label>enter boarding point </label>
            <input type="text" name="board" class="Form-Control" />

            <label>enter pickup point  </label>
            <input type="text" name="pickup" class="Form-Control" />

            <button type="submit">submit</button>
        </form>

    </div>
</body>
</html>
