
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>cancel</title>
</head>
<body>
    <div>
        <h2>enter the email cancel yhe ticket</h2>
        <form action="~/Home/cancelticket" method="post">
            <label>entr email</label>
            <input type="email" name="email" />

            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>
