
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>message</title>
</head>
<body>
    <div> 
        <h2> to print the ticket enter your email</h2>
        <form action="~/Home/printticket" method="post">
            <label>entr email</label>
            <input type="email" name="email"/>
            
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>
